/bin
/build
/node_modules
/.git
/.env
/docker-compose.yml
/docker-compose.yml.example
/docker-compose.yml.local
/docker-compose.yml.production
/docker-compose.yml.staging
/docker-compose.yml.development

